.box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
    padding: 1rem;
    min-width: 400px;
    max-width: 660px;
    transform: translateX(90%);
}
.description {
    margin-top: 7px;
}

.extraInformation {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 120px;
    font-weight: bold;
}

.prompt {
    margin: 0px 6px;
    background: #ffa832;
    font-weight: 500;
    padding: 2px 7px;
}
.link {
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
}