.chakra-button{
    border-radius: 100px;
    height: auto;
    &.big{
        padding: 19px 32px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        &.only-icon{
            padding: 10px;
            width: 40px;
            height: 40px;
            span{
                margin-left: 0;
            }
            &::before{
                display: none !important;
            }
        }
        @media screen and (min-width: 767px) {
            font-size: 18px;
        }
    }
    &.small{
        padding: 8px 28px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        img{
            width: 16px;
            height: 16px;
        }
        &.only-icon{
            padding: 10px;
            width: 35px;
            height: 35px;
            span{
                margin-left: 0;
            }
        }
        @media screen and (min-width: 767px) {
            font-size: 16px;
            padding: 11px 28px;
        }
    }
    &.primary{
        background: linear-gradient(180deg, #8826FF 0%, #A154FF 100%);
        border: 1px solid #BE89FF;
    }
    &.secondary{
        background: linear-gradient(182.48deg, rgba(255, 255, 255, 0.05) 2.09%, rgba(255, 255, 255, 0.1) 66.35%, rgba(255, 255, 255, 0.2) 97.55%);
        border: 1px solid var(--white70);
    }
    &.md_secondary{
        @media screen and (min-width: 767px) {
            background: linear-gradient(182.48deg, rgba(255, 255, 255, 0.05) 2.09%, rgba(255, 255, 255, 0.1) 66.35%, rgba(255, 255, 255, 0.2) 97.55%) !important;
            border: 1px solid var(--white70);
            padding: 8px 28px 8px 24px !important;
        }
    }
    &.md_secondary_border{
        background: linear-gradient(182.48deg, rgba(255, 255, 255, 0.05) 2.09%, rgba(255, 255, 255, 0.1) 66.35%, rgba(255, 255, 255, 0.2) 97.55%) !important;
        border: 1px solid var(--white70);
        padding: 10px;
        width: 35px;
        min-width: 35px;
        height: 35px;
        label{
            display: none;
        }
        span{
            margin: 0;
        }
        @media screen and (min-width: 767px) {
            padding: 8px 28px 8px 24px !important;
            width: auto;
            height: auto;
            label{
                display: inline-block;
            }
        }
    }
    label{
        cursor: pointer;
    }
 }
