.chakra-modal__content-container{
    align-items: end;
    @media screen and (min-width: 601px) {
        align-items: center;
    }
    .chakra-modal__content{
        @media screen and (min-width: 601px) {
            background: rgba(12, 4, 22, 0.7);
            backdrop-filter: blur(2.5px);
            margin: 0;
            border-radius: 0;
            border: 0;
            .chakra-container{
                height: 100dvh;
                display: flex;
                align-items: center;
            }
        }
    }
    .modal-bottom.chakra-modal__content{
        background: rgba(12, 4, 22, 0.7);
        backdrop-filter: blur(2.5px);
        margin: 0;
        border-radius: 0;
        border: 0;
        .chakra-container{
            display: flex;
            align-items: end;
            justify-content: center;
            height: 100dvh;
        }
        .back-bottom-button{
            display: block;
            width: 100%;
            margin: 10px 0;
            text-align: center;
        }
        .modal-footer{
            justify-content: center;
        }
    }
}


.chakra-slide{
    position: relative;
    &>div{
        background: radial-gradient(50% 50% at 50% 50%, rgba(151, 69, 251, 0.2) 0%, rgba(151, 69, 251, 0) 100%), #0C0416;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
        border-radius: 16px 16px 0px 0px;
        border: 1px solid var(--white70);
        img{
            position: absolute;
            right: 20px;
            top: 40px;
        }
    }
}

.backdrop{
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    border: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
    bottom: 0;
    left: 0;
    z-index: 9;
}