.chakra-modal__content{
    max-width: none;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    width: 100vw;
    background: rgba(12, 4, 22, 0.7);
    backdrop-filter: blur(2.5px);
    .chakra-container{
        height: 100%;
        display: flex;
        align-items: center;
    }
}