.initialPage{
    position: relative;
    max-height: calc(100dvh - 82px);
    @media screen and (min-width: 768px) {
        max-height: calc(100dvh - 108px);
    }
    &>img{
        position: absolute;
        z-index: -1;
        top: -20vh;
        left: 0;
        @media screen and (min-width: 768px) {
            top: -12vh;
            left: -10vw;
        }
    }
    .contentWrapper{
        min-height: calc(100dvh - 82px);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @media screen and (min-width: 601px) {
            align-items: center;
        }
        @media screen and (min-width: 768px) {
            min-height: calc(100dvh - 108px);
        }
    }
    .buttonBottom{
        margin-top: 40px;
        @media screen and (min-width: 768px) {
            position: static;
            width: auto;
            padding: 0;
            margin-top: 40px;
        }
        position: static;
        width: auto;
        padding: 0;
    }
}