.active {
    //font-size: larger;
    //font-weight: bold;
}

.seted {
    color: red
}

.unseted {
    color: var(--white);
}
.prompt{
    span{
        text-decoration: underline;
        cursor: pointer;
    }
}