.storyPage{
    position: relative;
    min-height: calc(100dvh - 82px) !important; //some devices don't read dvh so we need a backup
    min-height: calc(100vh - 102px); // +20px because browsers bars -just mobile-
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &.storyPageLoading{
        align-items: center !important;
        overflow: hidden;
        justify-content: center;
    }
    @media screen and (min-width: 768px) {
        min-height: calc(100dvh - 108px) !important; //some devices don't read dvh so we need a backup
        min-height: calc(100vh - 108px); 
    }
    .random{
        position: absolute;
        bottom: 15px;
        margin: 10px auto;
    }
    .loading{
        position: relative;
        img{
            position: static;
            width: 100%;
            max-width: 250px;
            @media screen and (min-width: 601px) {
                max-width: 450px;
            }
            @media screen and (min-width: 991px) {
                min-width: 600px;
                position: absolute;
                z-index: -1;
                top: -10vh;
                left: -50vw;
            }
        }
        .loadingText{
            margin-top: 0px;
            @media screen and (min-width: 991px) {
                margin-top: 50px;
            }
        }
    }
}