.circle {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: var(--clr-neutral-grey-600);
    border-radius: 50%;
    display: grid;
    margin: 0px 7px;
    width: 2rem;
    height: 2rem;
    color: white;
    place-items: center;
}
.circle[data-icon="star"]::before {
    content: "";
    width: 17px;
    height: 16px;
    background-image: url("https://raw.githubusercontent.com/rathore-himanshu/interactive-rating-component-main/master/images/icon-star.svg");
}
/* Rating Card Styling */
.card {
    cursor: pointer;

    display: grid;
    margin: 10px 7px;
    color: white;
    place-items: center;
}

.title {
 color: black;
    font-size: 16px;
}
.card p {
    line-height: 1.5;
}
.ratings {
    margin: 0.5rem 1rem;
    display: flex;
    
    justify-content: space-between;
    font-weight: var(--fw-bold);
}

.ratings .rating:is(:hover, :focus) {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-white-100);
}
.ratingSelected {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-white-100);
}
/* Thank You Styling */
.thank_you_card {
    display: grid;
    gap: 1.25rem;
    place-items: center;
    text-align: center;
}
.result {
    background-color: var(--clr-neutral-grey-600);
    padding: 0.75rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    color: var(--clr-primary-400);
}
.greet {
    display: grid;
    gap: 0.75rem;
    margin: 0.75rem 0rem;
}
.hidden {
    display: none;
}