.topbar{
    .topbarWrapper{
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        padding: 40px 0px 20px;
        .gridCenter{
            opacity: 0;
            @media screen and (min-width: 601px) {
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
                .brand img{
                    height: 20px;
                    margin: auto;
                }
            }
        }
        .gridStart{
            display: flex;
            justify-content: flex-start;
            .brand {
                display: flex;
                margin-left: 10px;
                align-items: center;
                img{
                    height: 20px;
                }
                @media screen and (min-width: 601px) {
                    display: none;
                }
            }
        }
        .gridEnd{
            display: flex;
            justify-content: flex-end;
        }
        .actions button {
            background: transparent;
            padding: 0;
            span{
                margin: 0;
                @media screen and (min-width: 601px) {
                    margin: 5px;
                }
            }
            label{
                display: none;
                color: var(--white);
                @media screen and (min-width: 601px) {
                    display: inline;
                    cursor: pointer;
                }
            }   
        }
    }
}